.skills__container {
    display: flex;
    flex-direction: column;
    
    height: auto;
    width: 100%;
    flex-wrap: wrap;

    padding: 1rem 0;
    justify-content: space-around;
    

    background-color: var(--color__fondo___skills);
}

.skills__skills {
    height: auto;
}

.skills__list {
    width: 75vw;
    margin: auto;


    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    row-gap: 0.5rem;
}

.skills__item {
    display: flex;
    flex-direction: column;

    width: 100px;
    height: 125px;
    align-items: center;
    
    background-color: #eee;

    border-radius: 15px;
}


.skills__hobbies {
    height: auto;
    margin-top: 2rem;
}


@media screen and (orientation: portrait) {


    .skills__list {
        width: 100%;
        margin: auto;
    
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        row-gap: 0.5rem;

    }
    
    .skills__item {
        display: flex;
        flex-direction: column;
    
        width: 75%;
        height: 125px;
        margin: auto;

        justify-content: center;
        
        background-color: #eee;
    
        border-radius: 15px;
    }


}