@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');


/*-- VARIABLES SECTION --*/

:root {
    --color__fondo: rgb(245, 245, 245);
    --color__fondo___body: rgb(238, 238, 238);
    --color__botones: #006cc2;

    --imagen__width: 100px;
    --imagen__height: 80px;

    --tablet__phone___width: 768px;
    --laptop__desktop___width: 992px;
}




/*-- GENERAL SECTION --*/

body {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--color__fondo___body);
    font-family: 'Montserrat', sans-serif;
}

.container__titular {
    width: 100%;
    margin: 0.5rem 0;

    text-align: center;

    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "League Spartan", "Montserrat";
}




/*-- HEADER SECTION --*/

header {
    width: 100%;
    background-color: var(--color__fondo);

}

.nav__container {
    
    width: calc(100% - 0.3rem);
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content:space-around;
}

.header__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

   

    justify-content: space-around;
    
}

.header__links___item {
    margin: auto 0.3rem;
    
    font-size: 0.9rem;
    color: #222;
    text-decoration: none;
    border-bottom: 1px solid #444;
}




/*-- PRESENTING-YOURSELF SECTION --*/

.header__presentacion {
    width: 75%;
    margin: auto;
    padding: 1.2rem 0;

    display: flex;
    flex-direction: row;
    
}

.presentacion__presentacion {
    width: 51%;
    
}

.presentacion__titular {
    font-family: "Montserrat", "League Spartan";
    font-size: 2rem;

    text-align: left;
}

.presentacion__imagen img {
    width: auto;
}

.div__presentacion___links {
    margin: 0.2rem auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 0.8rem;
}

.header__presentacion___links {
    
    width: 30%;

    margin-top: 0.3rem;
    margin-right: 0;
    border-radius: 4px;

    text-decoration: none;
    color: black;

}

.header__presentacion___links::after {
    content: '\1F86D';
    margin-left: 1px;
}

.header__presentacion___links:active {
    background-color: #999;
}



/*-- MAIN SECTION --*/

main {
    display: grid;
    grid-template-columns: 100%;
}




/*-- ABOUT-ME SECTION --*/

.about__container {
    width: 75%;
    line-height: 1.2rem;
    margin: auto;
    text-align: start;
}

.about__me {
    text-align: left;
}

.rodapie {
    margin-top: 2rem;
    text-align: center;
}



@media screen and (max-width: var(--tablet__phone___width)) {

    .nav__container {
    
        width: calc(100% - 0.3rem);
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        justify-content: space-around;
    }

    .header__links {
        padding: 0.5rem 0;
        
    }

    .header__links___item {
        margin: auto 0.3rem;
       
        font-size: 0.9rem;
        color: #222;
        text-decoration: none;
        border-bottom: 1px solid #444;
    }


    .header__presentacion {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;

        padding: 1rem 0;
        justify-content: center;
    }

    .presentacion__presentacion {
        width: 100%;
    }
    
    .presentacion__imagen {
        text-align: left;
    }

    .presentacion__imagen img {
        width: auto;
        flex-shrink: 1;
        flex-grow: 1;
    }
    
    .div__presentacion___links {
        margin: auto;
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        font-size: 0.8rem;
    }
    
    .header__presentacion___links {
        width: 100%;
        margin-top: 0.6rem;
        
        text-decoration: none;
        color: black;
    
    }
    
    .header__presentacion___links::after {
        content: '\1F86D';
        margin: 0.5vh 0;
    }

    .about__container {
        width: 100%;
        line-height: 1.2rem;
        text-align: center;
        
    }

}