body {  
    width: 100vw;

    margin: 0;
    padding: 0;
    border: 0;

    overflow-x: hidden;
    background-color: #282c34;
    color: snow;
    font-family: "Open Sans", sans-serif;

}


a {
    text-decoration: none;
    color: snow;
}

.section {
    width: fit-content;
    margin: 0 5rem;
    transition: 800ms;
}



/**********************/
/* ANIMATIONS SECTION */
/**********************/

.hide-left {
    opacity: 0;
    transform: translateX(-50px) skewX(-15deg);
}

.hide-right {
    opacity: 0;
    transform: translateX(50px) skewX(15deg);
    
}






/*****************************/
/* HEADER AND NAVBAR SECTION */
/*****************************/

.navbar {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: space-between;

    background-color: #251F30;
    box-shadow: 0 1px 5px 1px aquamarine;
}

.navbar--title {
    margin-left: 10%;
}

.navbar--darkmode---container {
    width: fit-content;
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.navbar--darkmode {
    width: fit-content;

    padding: 3px;
    margin-left: 5rem;
    margin-top: 0.5rem;
    background-color: grey;
    border-radius: 5px;

    font-weight: bold;

    cursor: pointer;
}

.navbar--links {
    list-style-type: none;
    margin-right: 10%;
    
}

.navbar--links li {
    display: inline;
    margin-left: 0.5em;
}

  /*******************/ /****************/ /*******************/          
 /*******************/ /* MAIN SECTION */ /*******************/ 
/*******************/ /****************/ /*******************/

/********************/
/* ABOUT ME SECTION */
/********************/

.about {
    height: fit-content;
    margin-bottom: 1rem;
}





/******************/
/* SKILLS SECTION */
/******************/

.skills {
    width: auto;
    transition: 1.2s;
}

.skills--cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-top: 1px solid #45a6ff;
    
    align-items: center;
    justify-content: space-around;
}


.card {
    height: 80px;
    margin: 1.5rem 1rem;
    text-align: center;

    cursor: pointer;
}

.card--image {
    height: 80%;
}

.card--text {
    height: 20%;
    background-color: inherit;
}



/*********************/
/* PROYECTOS SECTION */
/*********************/

.proyectos {
    margin: auto;
}

.proyectos--title {
    margin: 3rem 5rem;
}

.proyectos--cards {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 4rem 1rem;

    border-top: 1px solid #45a6ff;

    margin-bottom: 5rem;
}

.proyectos--cards .card {
    height: 100px;
    transition: 1s;
}

.proyectos--cards .card:hover {
    opacity: 0.65;
    scale: 1.1;
}



/********************/
/* CONTACTO SECTION */
/********************/

.contacto {
    width: 100%;
    margin-left: 0;
    background-color: #251F30;
    
}

.contacto--title {
    margin: 0 5rem;
}

.contacto--form {
    width: 75%;
    margin: 0 5rem;

    transition: 800ms;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.contacto--input {
    width: 50%;
    height: 1.5rem;

    margin: .75rem 0;
    
    text-indent: 1rem;

    color: snow;
    background-color: inherit;
    font-weight: 500;
    font-size: medium;


    border: none;
    border-bottom: 3px solid aquamarine;
    resize: none;
}

.contacto--input::placeholder {
    color: snow;
    font-weight: bold;
}

.contacto--submit {
    
    color: snow;
    background-color: #45a6ff;
    
    font-weight: 600;
    font-size: medium;

    border: none;
    cursor: pointer;
}

.msg {
    height: 5rem;
    

    font-family: inherit;
    font-size: medium;
}



@media screen and (max-width: 769px) {



    .hide-left {
        opacity: 0;
        transform: translateX(0px);
    }
    
    .hide-right {
        opacity: 0;
        transform: translateX(0px);
    }



    
    .navbar{
        width: 100%;
        justify-content: space-around;

    }


    .navbar--title {
        display: none;
    }

    .navbar--links {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin: .5rem 0;
        
    }

    .link:first-child {
        display: none;
    }

    .link:nth-child(2) {
        display: none;
    }


    /*********************/
    /* PROYECTOS SECTION */
    /*********************/

    .proyectos--cards {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 2rem;
    
        margin-bottom: 5rem;
    }

    .proyectos--cards .card {
        height: 120px;
    }



    /********************/
    /* CONTACTO SECTION */
    /********************/

    .contacto {
        width: 100%;
    }

    .contacto--form {
        width: 80%;
        margin: auto;
    }

    .contacto--input {
        width: 100%;
    }
    


}